@import "https://at.alicdn.com/t/c/font_4702113_rd7n8jvbxv.css";

@font-face {
    font-family: 'SF-Pro';  /* 定义字体名称 */
    src: url('/font/SF-Pro.ttf') format('truetype');  /* 字体文件路径及格式 */
    font-weight: normal;  /* 字体粗细 */
    font-style: normal;   /* 字体样式 */
}